<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body  {
            background-image: url("images/signup.jpeg");
            background-color: #cccccc;
        }

    </style>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login form</title>

    <!-- CSS -->

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://code.angularjs.org/1.3.15/angular.js"></script>
    <script src="angular/signupUser.js"></script>

    <link rel="stylesheet" href="stylesheets/form-elements.css">
    <link rel="stylesheet" href="stylesheets/style.css">


</head>

<body ng-app="signup" ng-controller="signup">

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1 style="color:white; text-align:center"><strong>Please</strong> Signup here</h1>
                    <div class="description">
                        <p style="text-align:center; color:white;">
                            Please signup to use the service !
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3 style="color:white;">Provide your details here !</h3>

                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" method="post" name="registration" class="login-form">
                            <div class="form-group">

                                <input type="text" class="form-control" name="fullName" ng-model="fullName" placeholder="Fullname" id="fullName" required>

						                        <span style="color:red" ng-show="registration.fullName.$dirty && registration.fullName.$invalid">
			  											<span ng-show="registration.fullName.$error.required">Fullname is required.</span>
			  									</span>

                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" ng-model="email" placeholder="email"  id="email"  required>

						                    <span style="color:red" ng-show="registration.email.$dirty && registration.email.$invalid">
			  										<span ng-show="registration.email.$error.required">Email is required.</span>
			  								</span>

                            </div>

                            <div class="form-group">

                                <input type="password" class="form-control" ng-model="password" name="password" placeholder="password"  id="password" required>

			                         		<span style="color:red" ng-show="registration.password.$dirty && registration.password.$invalid">
			  										<span ng-show="registration.password.$error.required">Password is required.</span>
			  								</span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="creditcard" ng-model="creditcard" placeholder="creditcard"  required>

						                    <span style="color:red" ng-show="registration.creditcard.$dirty && registration.creditcard.$invalid">
			  										<span ng-show="registration.creditcard.$error.required">Creditcard is required.</span>
			  								</span>

                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="city" ng-model="city" placeholder="city" required>

						                    <span style="color:red" ng-show="registration.city.$dirty && registration.city.$invalid">
			  										<span ng-show="registration.city.$error.required">City is required.</span>
			  								</span>

                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="state" ng-model="state" placeholder="state"  required>

						                    <span style="color:red" ng-show="registration.state.$dirty && registration.state.$invalid">
			  										<span ng-show="registration.state.$error.required">State is required.</span>
			  								</span>

                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="zipcode" ng-model="zipcode" placeholder="zipcode" required>

						                    <span style="color:red" ng-show="registration.zipcode.$dirty && registration.zipcode.$invalid">
			  										<span ng-show="registration.zipcode.$error.required">Zipcode is required.</span>
			  								</span>

                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="phone" ng-model="phone" placeholder="phone" required>

						                    <span style="color:red" ng-show="registration.phone.$dirty && registration.phone.$invalid">
			  										<span ng-show="registration.phone.$error.required">Phone is required.</span>
			  								</span>

                            </div>



                            <button class="btn btn-default" type="submit" ng-click="submit()" style="float: right;">Sign Up!</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<!-- Javascript -->


</body>

</html>